body {
    background: maroon;
    
    border: 20px;
    margin: 20px;
    padding: 20px;
    border-style: groove; 
    height: 400vh;

}
h3 {
    color: pink;
    font-style: oblique;
    font-family: cursive;
    font-stretch: inherit;
    font-size: 40px;
}
h1{
    height: 100px;
    color: maroon;
    transition: width 2s;

}